html{
    background-color: #EAE7FA;
}

.logo{
    background-color: #A16AE8;
    color: #EAE7FA;
    text-transform: uppercase;
    text-align: center;
    text-size-adjust: 100px;
}

.column-name{
    color: #EAE7FA;
    font-weight: bold;
    background-color: #A16AE8;
}

td {
    padding: 5px;
}
